.after {
    color: blueviolet;
}

.after {
    list-style: none;
}

.after >li::after {
content: "@";
}

.after >li::before {
    content: "*";
}

a:link {
  color: coral;
}

a:visited {
    color: cornflowerblue ;
}

.links > li > a:active {
    color: cyan;
}

h1::hover {
    color: darkmagenta;
    font-size: 10px;
}

span:empty {
    background-color: darkolivegreen;
    width: 100px ;
    display: inline-block;
}
/*.child >:first-child {
   color: darkolivegreen;
   font-size: 30px;
}

.child > li:last-child {
    color: rgb(248, 227, 109);
    font-size: 30px;
 }*/

 .child > li:nth-child(odd) {
   color: darkseagreen;
   font-size: 25px;
 }

