.wrapper {
    display: flex;
   
}
.nav {
    width: 20%;
}
.personal-info {
    width: 40%;
}
.info {
    width: 40%;
}
li {
    list-style-type: none;
 
}
.a {
    list-style-type: none;
}
.pre {
    border: 1px solid rgb(114, 114, 194);
}

.oll {
    border: 1px solid rgb(135, 235, 160);
    text-align: center;
}
.sapin {
    border: 1px solid rgb(146, 57, 61);
}